/JPA-CRUD-Samples-Sites/sample-jpa/target/
/JPA-CRUD-Samples-Sites/CRUD-JPA/target/
/JPA-CRUD-Samples-Sites/crud-jpa/target/
/sample-rest-jersey/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/java-8-web/target/