@(formUsers : Form[Users])

@import helper._

@main("Cadastro de usuarios") {
	
	<h2>Cadastro de um novo usuario</h2>
			
	@helper.form(action=routes.Application.insertUser()) {
				
		@helper.inputText(field = formUsers("name"), 'placeholder -> "Johni", '_label -> "Informe seu nome", 'size -> 60)
				
		@helper.inputText(formUsers("email"), 'placeholder -> "johni@johni.com.br", '_label -> "Informe seu e-mail", 'size -> 100)
		
		@helper.textarea(formUsers("observacao"), 'placeholder -> "Digite um texto", '_label -> "Informe observacao")
		
		<input type="submit" value="Gravar" />			
	}

	<a href="@routes.Application.listUsers()">Voltar</a>	
}